Repository CarrierRoute/BEDV1_CarrierRoute, pull requests merged in 2021-11, with the labels that each got.

#53 Refactor: if 분기문 로직 -> enum으로 관리
  src/main/java/com/grepp/carrierroute/car/dto/CarSearchType.java
  src/main/java/com/grepp/carrierroute/car/service/CarService.java
Labels: 개발 :computer:, 렌트카 :car:

#57 호텔 예약 기능 추가
  src/main/java/com/grepp/carrierroute/booking/controller/HotelBookingController.java
  src/main/java/com/grepp/carrierroute/booking/domain/HotelBooking.java
  src/main/java/com/grepp/carrierroute/booking/dto/HotelBookingRequestDto.java
  src/main/java/com/grepp/carrierroute/booking/dto/HotelBookingResponseDto.java
  src/main/java/com/grepp/carrierroute/booking/exception/InsufficentRoomException.java
  src/main/java/com/grepp/carrierroute/booking/exception/InvalidHotelBookingParameterException.java
  src/main/java/com/grepp/carrierroute/booking/repository/HotelBookingRepository.java
  src/main/java/com/grepp/carrierroute/booking/service/HotelBookingService.java
  src/main/java/com/grepp/carrierroute/booking/service/converter/HotelBookingConverter.java
  src/main/java/com/grepp/carrierroute/car/domain/Car.java
  src/main/java/com/grepp/carrierroute/car/domain/vo/Address.java
  src/main/java/com/grepp/carrierroute/hotel/controller/x.keep
  src/main/java/com/grepp/carrierroute/hotel/domain/Hotel.java
  src/main/java/com/grepp/carrierroute/hotel/domain/HotelRoom.java
  src/main/java/com/grepp/carrierroute/hotel/domain/x.keep
  src/main/java/com/grepp/carrierroute/hotel/dto/HotelRoomDto.java
  src/main/java/com/grepp/carrierroute/hotel/dto/HotelSearchRequestDto.java
  src/main/java/com/grepp/carrierroute/hotel/dto/HotelSearchResponseDto.java
  src/main/java/com/grepp/carrierroute/hotel/dto/x.keep
  src/main/java/com/grepp/carrierroute/hotel/exception/ErrorMessage.java
  src/main/java/com/grepp/carrierroute/hotel/exception/x.keep
  src/main/java/com/grepp/carrierroute/hotel/repository/x.keep
  src/main/java/com/grepp/carrierroute/hotel/service/HotelService.java
  src/main/java/com/grepp/carrierroute/hotel/service/converter/HotelConverter.java
  src/main/java/com/grepp/carrierroute/hotel/service/converter/x.keep
  src/main/java/com/grepp/carrierroute/hotel/service/x.keep
  src/main/java/com/grepp/carrierroute/user/domain/vo/Point.java
Labels: 우선순위: 상 :1st_place_medal:, 호텔 :hotel:, 예약 :passport_control:, 백엔드 👨‍💻

#63 Feat: [#46] 예외 메시지 한글로 관리 및 로그 남기기
  src/main/java/com/grepp/carrierroute/CarrierRouteApplication.java
  src/main/java/com/grepp/carrierroute/booking/domain/HotelBooking.java
  src/main/java/com/grepp/carrierroute/booking/dto/HotelBookingRequestDto.java
  src/main/java/com/grepp/carrierroute/booking/exception/AlreadyBookedException.java
  src/main/java/com/grepp/carrierroute/booking/exception/CarBookingExceptionCode.java
  src/main/java/com/grepp/carrierroute/booking/exception/CarBookingNotFoundException.java
  src/main/java/com/grepp/carrierroute/booking/exception/LackOfPointException.java
  src/main/java/com/grepp/carrierroute/booking/exception/UserAndCarBookingNotMatchException.java
  src/main/java/com/grepp/carrierroute/booking/exception/handler/CarBookingExceptionHandler.java
  src/main/java/com/grepp/carrierroute/booking/service/CarBookingService.java
  src/main/java/com/grepp/carrierroute/booking/service/HotelBookingService.java
  src/main/java/com/grepp/carrierroute/car/dto/CarSearchType.java
  src/main/java/com/grepp/carrierroute/car/exception/CarCompanyNotFoundException.java
  src/main/java/com/grepp/carrierroute/car/exception/CarNotFoundException.java
  src/main/java/com/grepp/carrierroute/car/exception/handler/CarExceptionHandler.java
  src/main/java/com/grepp/carrierroute/car/service/CarService.java
  src/main/java/com/grepp/carrierroute/exception/GlobalExceptionHandler.java
  src/main/java/com/grepp/carrierroute/exception/NotFoundException.java
  src/main/java/com/grepp/carrierroute/exception/booking/AlreadyBookedCarException.java
  src/main/java/com/grepp/carrierroute/exception/booking/InsufficentRoomException.java
  src/main/java/com/grepp/carrierroute/exception/booking/InvalidHotelBookingParameterException.java
  src/main/java/com/grepp/carrierroute/exception/booking/LackOfPointException.java
  src/main/java/com/grepp/carrierroute/exception/hotel/EmptyHotelInfoException.java
  src/main/java/com/grepp/carrierroute/exception/hotel/ErrorMessage.java
  src/main/java/com/grepp/carrierroute/exception/hotel/HotelInfoNotFoundedException.java
  src/main/java/com/grepp/carrierroute/exception/hotel/InvalidHotelRoomParameterException.java
  src/main/java/com/grepp/carrierroute/exception/hotel/InvalidHotelSearchParameterException.java
  src/main/java/com/grepp/carrierroute/flight/exception/handler/x.keep
  src/main/java/com/grepp/carrierroute/flight/exception/x.keep
  src/main/java/com/grepp/carrierroute/hotel/controller/HotelController.java
  src/main/java/com/grepp/carrierroute/hotel/domain/HotelRoom.java
  src/main/java/com/grepp/carrierroute/hotel/dto/HotelSearchRequestDto.java
  src/main/java/com/grepp/carrierroute/hotel/exception/handler/x.keep
  src/main/java/com/grepp/carrierroute/hotel/service/HotelService.java
  src/main/java/com/grepp/carrierroute/user/domain/vo/Point.java
  src/main/java/com/grepp/carrierroute/user/exception/UserNotFoundException.java
  src/main/java/com/grepp/carrierroute/user/exception/handler/UserExceptionHandler.java
  src/main/java/com/grepp/carrierroute/util/ExceptionMessageUtils.java
  src/main/resources/application.properties
  src/main/resources/application.yml
  src/main/resources/exceptions.properties
Labels: 개발 :computer:

#66 호텔 예약 취소 기능 추가
  src/main/java/com/grepp/carrierroute/booking/controller/HotelBookingController.java
  src/main/java/com/grepp/carrierroute/booking/repository/HotelBookingRepository.java
  src/main/java/com/grepp/carrierroute/booking/service/HotelBookingService.java
  src/main/java/com/grepp/carrierroute/exception/booking/CancellationNotAllowedException.java
  src/main/java/com/grepp/carrierroute/exception/hotel/InvalidHotelParameterException.java
  src/main/java/com/grepp/carrierroute/hotel/domain/Hotel.java
  src/main/java/com/grepp/carrierroute/hotel/dto/HotelSearchResponseDto.java
  src/main/java/com/grepp/carrierroute/hotel/service/converter/HotelConverter.java
  src/main/resources/exceptions.properties
Labels: 우선순쉬: 중 :2nd_place_medal:, 기능 :dagger:, 호텔 :hotel:, 예약 :passport_control:

#70 Feat: [#43][#44] 렌트카 예약 조건에 나이 추가 및 환불 정책 및 예외 메시지 키값 변경
  src/main/java/com/grepp/carrierroute/CarrierRouteApplication.java
  src/main/java/com/grepp/carrierroute/booking/controller/CarBookingController.java
  src/main/java/com/grepp/carrierroute/booking/domain/CarBooking.java
  src/main/java/com/grepp/carrierroute/booking/dto/CarBookingRequestDto.java
  src/main/java/com/grepp/carrierroute/booking/service/CarBookingService.java
  src/main/java/com/grepp/carrierroute/car/domain/Car.java
  src/main/java/com/grepp/carrierroute/common/CancelPolicy.java
  src/main/java/com/grepp/carrierroute/common/RefundPolicy.java
  src/main/java/com/grepp/carrierroute/exception/GlobalExceptionHandler.java
  src/main/java/com/grepp/carrierroute/exception/NotFoundException.java
  src/main/java/com/grepp/carrierroute/exception/booking/AlreadyBookedCarException.java
  src/main/java/com/grepp/carrierroute/exception/booking/InsufficentRoomException.java
  src/main/java/com/grepp/carrierroute/exception/booking/InvalidHotelBookingParameterException.java
  src/main/java/com/grepp/carrierroute/exception/booking/LackOfPointException.java
  src/main/java/com/grepp/carrierroute/exception/hotel/EmptyHotelInfoException.java
  src/main/java/com/grepp/carrierroute/exception/hotel/InvalidHotelRoomParameterException.java
  src/main/java/com/grepp/carrierroute/exception/hotel/InvalidHotelSearchParameterException.java
  src/main/java/com/grepp/carrierroute/util/ExceptionMessageUtils.java
  src/main/resources/exceptions.properties
Labels: 개발 :computer:

#71 호텔 관련 Controller의 반환 타입을 ResponseEntity로 적용 및 예외 핸들링 코드 추가
  src/main/java/com/grepp/carrierroute/booking/controller/HotelBookingController.java
  src/main/java/com/grepp/carrierroute/booking/dto/HotelBookingRequestDto.java
  src/main/java/com/grepp/carrierroute/exception/GlobalExceptionHandler.java
  src/main/java/com/grepp/carrierroute/exception/NotFoundException.java
  src/main/java/com/grepp/carrierroute/exception/booking/CancellationNotAllowedException.java
  src/main/java/com/grepp/carrierroute/exception/hotel/EmptyHotelInfoException.java
  src/main/java/com/grepp/carrierroute/hotel/controller/HotelController.java
  src/main/java/com/grepp/carrierroute/hotel/dto/HotelSearchRequestDto.java
  src/main/java/com/grepp/carrierroute/hotel/service/HotelService.java
  src/main/resources/exceptions.properties
Labels: 개발 :computer:, 호텔 :hotel:, 이야깃거리 🤔

#77 AWS RDS(Mysql) 연동
  .gitignore
  build.gradle
  src/main/resources/application-test.yml
Labels: 백엔드 👨‍💻

#78 항공권 관련 Controller의 반환 타입을 ResponseEntity로 적용하고 예외 핸들링 코드를 추가
  src/main/java/com/grepp/carrierroute/booking/controller/FlightBookingController.java
  src/main/java/com/grepp/carrierroute/booking/service/FlightBookingService.java
  src/main/java/com/grepp/carrierroute/exception/GlobalExceptionHandler.java
  src/main/java/com/grepp/carrierroute/flight/controller/FlightController.java
  src/main/java/com/grepp/carrierroute/flight/domain/Airline.java
  src/main/java/com/grepp/carrierroute/flight/domain/Airplane.java
  src/main/java/com/grepp/carrierroute/flight/domain/AirplaneSeat.java
  src/main/java/com/grepp/carrierroute/flight/domain/Flight.java
  src/main/java/com/grepp/carrierroute/flight/dto/FlightSearchType.java
  src/main/java/com/grepp/carrierroute/flight/service/FlightService.java
Labels: 우선순위: 상 :1st_place_medal:, 개발 :computer:, 항공권 :airplane:, (; 'O') o (ꐦ ಠ 皿 ಠ) (`Δ ')! :bomb:

#80 README 파일 작성
  README.md
  images/eddie_profile.png
  images/henry_profile.png
  images/julie_profile.png
Labels: 비개발 :heavy_multiplication_x:

#97 항공권 엔티티 구현 및 도메인 별 패키지 분리
  src/main/java/com/grepp/carrierroute/common/domain/UserPay.java
  src/main/java/com/grepp/carrierroute/flightbooking/domain/FlightBooking.java
  src/main/java/com/grepp/carrierroute/flightbooking/x.keep
  src/main/java/com/grepp/carrierroute/flightschedule/domain/Airline.java
  src/main/java/com/grepp/carrierroute/flightschedule/domain/CabinClass.java
  src/main/java/com/grepp/carrierroute/flightschedule/domain/Flight.java
  src/main/java/com/grepp/carrierroute/flightschedule/domain/FlightSchedule.java
  src/main/java/com/grepp/carrierroute/flightschedule/x.keep
  src/main/java/com/grepp/carrierroute/pay/x.keep
Labels: 리팩토링 🔧, 항공권 :airplane:
